<html>
<head>
	<title>Contact</title>
</head>
    <body style="font-family:helvetica; background-color:gainsboro;">
	<center>
		<h1>BLCA</h1>
		<h3> <u>B</u>ayesian <u>L</u>owest <u>C</u>ommon <u>A</u>ncestor - A Web-Based 16s rRNA Classifier </h3>
		<div class="topnav" id="myTopnav">
			<a href="/" class="active">Home</a>
			<a href="tutorial">Tutorial</a>
			<a href="about">About</a>
			<a href="contact" class="active">Contact</a>
		</div>

	<hr>
        <h3> Contact </h3>
		
		<img src="DrDong.jpg" width="500" height="333">
		<p><b> Qunfeng Dong, Ph.D. </b></p>
		<p> Dr. Dong is the Director of the Center for Biomedical Informatics and an associate professor in the Department of Public Health Sciences at the Stritch School of Medicine, Loyola University Chicago. </p>
		<p> <b>Phone:</b> (708) 327-9004 </p>
		<p><strong>Email:</strong>&nbsp;<a href="mailto:qdong@luc.edu">qdong@luc.edu</a></p>
		<p> <b>Research focus:</b> Bioinformatics </p>
		<p> <b>Research topics:</b> data analysis, genomic/metagenomic computational tool development, mining EMRs</p>
		
		<img src="Eddi.jpg" width="500" height="333">
		<p><b> Eddi Lin </b></p>
		<p> Huaiying (Eddi) Lin, MS </p>
		<p> <b>Phone:</b> (708) 327-9004 </p>
		<p><strong>Email:</strong>&nbsp;<a href="mailto:hlin2@luc.edu">hlin2@luc.edu</a></p>
		<p> <b>Job title:</b> Bioinformatician </p>
	</center>

	</body>
</html>