
<html>
	
	{% import "bootstrap/wtf.html" as wtf %}
		
<head>
	<title>Home</title>
</head>
    <body style="font-family:helvetica; background-color:gainsboro;">
	<center>
		<h1>BLCA</h1>
		<h3> <u>B</u>ayesian <u>L</u>owest <u>C</u>ommon <u>A</u>ncestor - A Web-Based 16s rRNA Classifier </h3>
		<div class="topnav" id="myTopnav">
			<a href="/" class="active">Home</a>
			<a href="tutorial">Tutorial</a>
			<a href="about">About</a>
			<a href="contact">Contact</a>
	<hr>
	</center>
	</div>
	
	<h3>Home</h3>
	<p>Welcome to BLCA! Use the form below to submit your job
	{% block page_content%}
	<div></div>
	<hr></hr>
	<center>
		
		{% for message in get_flashed_messages() %}
      		<div class=flash>{{ message }}</div>
		{% endfor %}
		<br></br>
		{{ wtf.quick_form(form) }}
	</center>
	{% endblock %}
	
    </body>

</html>
