<html>
<head>
	<title>Tutorial</title>

</head>
	
	<body style="font-family:helvetica; background-color:gainsboro;">
	<center>
		<h1>BLCA</h1>
		<h3> <u>B</u>ayesian <u>L</u>owest <u>C</u>ommon <u>A</u>ncestor - A Web-Based 16s rRNA Classifier </h3>
		<div class="topnav" id="myTopnav">
			<a href="/" class="active">Home</a>
			<a href="tutorial">Tutorial</a>
			<a href="about" class="active">About</a>
			<a href="contact" class="active">Contact</a>
		</div>
	<hr>
	</center>
	
    <h2> Tutorial </h2>
		<p> The Web BLCA works by taking your sequences and returning to you a link to access the results when the job is done
		<p> 1. Enter your name and contact email  
		<p> 2. Enter your sequence by uploading your fasta file 
		<p> Then wait for an email with the link to your results</p>
		
    <hr></hr>
    <h3> Sample Output </h3>
		<p> To view sample output </p>
		<a href="https://raw.githubusercontent.com/qunfengdong/BLCA/master/test.fasta.blca.out" target="_blank">Click here</a>
		
	</body>
</html>